/log/*
/tmp/*
/storage/*
/public/assets
/public/packs
/node_modules
yarn-error.log

.env
.env.*

/db/*.sqlite3
/db/*.sqlite3-journal

*.pid
*.pid.lock

.byebug_history
coverage/
config/master.key
config/credentials.yml.enc
config/database.yml